body {
  background-color: #EFEFEF;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

header {
  background-color: #31343a;
  border-bottom: 3px gold solid;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.user-section {
  font-family: 'Montserrat';
  padding: 1% 1% 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-icon, .cart-icon {
  height: 20px;
}

.cart-icon{
  margin-left: 2%;
}

.cart-icon:hover {
  cursor: pointer;
}

p {
  color: #ffcc33;
  margin: 0%;
  padding-left: 0.5vmin;
  padding-right: 1vmin;
  display: flex;
  align-items: center;
}

.user-carrot {
  font-size: small;
  margin: 0 0 1vmin 1vmin;
}

nav {
  display: flex;
  align-items: center;
  margin: 0%;
}

nav > ul {
  width: 100%;
  display: flex;
  list-style: none;
}

li {
  font-size: x-large;
  color: transparent;  
  text-shadow: 0 0 0 white;
  margin-right: 3%;
  margin-left: 0%;
}

li:nth-child(2) { 
  text-shadow: 0 0 0 #ffcc33;
}

li:hover {
  text-shadow: 0 0 0 #ffcc33;
  cursor: pointer;
}

.logo{
  width: 20%;
  padding: 1%;
}

main {
  margin-top: 12%;
}

h1 {
  margin: 3%;
  font-size: 5vmin;
}

h2 {
  font-size: xx-large;
  margin: 0%;
}

h2, h3 {
  color: white;
  margin-bottom: 0%;
}

.cards-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sub-head {
  font-family: 'Montserrat';
}

.card {
  border-radius: 1%;
  border: 3px #31343a solid;
  background-color: #31343a;
  height: 60vmin;
  width: 43vmin;
  margin-bottom: 5vmin;
}

.card:hover {
  border: 3px gold solid;
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
}

.sales {
  width: inherit;
  height: 10%;
  display: flex;
  justify-content: space-between;
  position: absolute;  
  z-index: 1;
}

.add-image {
  margin: 2%;
  width: 8vmin;
  height: 8vmin;
}

.add-image:hover {
  cursor: pointer;
}

.units-sold {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
  margin: 2%;
}

.units-sold > p {
  color: white;
  margin: 0%;
  padding: 0%;
}

.units-sold > p:nth-child(2) {
  font-size: 40px;
  transform: translateY(-15%);
}

.sale-end {
  text-decoration: ;
}

.image-wrap {
  background-color: white;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

.cheese-image {
  width: inherit;
  transform: translateY(-20%);
}

.card-details {
  margin: 2% 0 0 5%;
}

a {
  color: #ffcc33;
  font-family: 'Montserrat'
}

.cost {
  font-size: smaller;
  align-items: center;
}

.dollars {
  font-size: xx-large;
  margin: 0 1% 0 1%;
}

@media only screen and (max-width: 1000px){
  ul {
    flex-direction: column;
  }
  li {
    font-size: large;
  }
  main {
    margin-top: 30%;
  }  
  .card{
    width: 86vmin;
    height: 120vmin;
  }
  .logo{
    width: 45vmin;
  }
}